* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

header {
    background-color: beige;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.head {
    display: flex;
    flex-direction: row;
    margin-left: 2%;

    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.name {
    font-size: 30px;
}

.head a {
    text-decoration: none;
    color: black
}

.headermenu {
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    margin-top: 1%;
    
}

.headermenu div {
    margin-left: 10%;
    margin-right: 10%;
}



.main {
    width: 100%;
    --border: 0.1rem solid black;
    margin-top: 2.5%;
}




.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2.5%;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2.5%;
}

.products img{
    width: 500px;
    height: 500px;
    transition: all 0.2s ease-in-out;
}


.products img:hover {
    background: black;
    width: 505px;
    height: 505px;
}

.row1 div {
    display: flex;
    flex-direction: column;
}

.row2 div {
    display: flex;
    flex-direction: column;
}

.product2 {
    border: 0.1rem solid black;
    justify-content: center;
}

.txt2 {
    border: 0.1rem solid black;
    width: fit-content;
    margin-left: 42.5%;
    bottom: 5%;
}