* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

header {
    background-color: beige;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.head {
    display: flex;
    flex-direction: row;
    margin-left: 2%;

    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.name {
    font-size: 30px;
}

.head a {
    text-decoration: none;
    color: black
}

.headermenu {
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    margin-top: 1%;
    
}

.headermenu div {
    margin-left: 10%;
    margin-right: 10%;
}







.products button {
    width: 75px;
    margin-left: 40%;
}

.products img {
    width: 500px;
    height: 500px;
}



.row1 {
    display: flex;
    flex-direction: row;
}

.row2 {
    display: flex;
    flex-direction: row;
}



