* {
    padding: 0;
    margin: 0;
}

.head {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-right: 5%;
}

.head a {
    margin-left: 5%;
}

.headermenu {
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    
}

.headermenu div {
    margin-left: 10%;
    margin-right: 10%;
    
}