* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

header {
    background-color: beige;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.head {
    display: flex;
    flex-direction: row;
    margin-left: 2%;

    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.name {
    font-size: 30px;
}

.head a {
    text-decoration: none;
    color: black
}

.headermenu {
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    margin-top: 1%;
    
}

.headermenu div {
    margin-left: 10%;
    margin-right: 10%;
}



.bg {
    background-image: url("smycken2.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2; 
    filter: blur(1.5px);
    transition: transform 1s ease;
    background-color:gray;
}


.bg:hover {
    transform: translateY(-20px);
}

.main {
    display: flex;
    flex-direction: column;
}

.Bilder {
    display: flex;
    flex-direction: row;
    position: relative; 
    z-index: 1;
}


